<header>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/orders">Orders</a></li>
            <li class="dropdown">
                <a href="#">Reports</a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/reports/active-products">Active Products</a></li>
                    <li><a routerLink="/reports/top-customers">Top Customers</a></li>
                    <li><a routerLink="/reports/top-sold-products">Top Sold Products</a></li>
                </ul>
            </li>
            <li><a routerLink="/search">Search products</a></li>
        </ul>
    </nav>
</header>