/* Estilos generales */
footer {
    background-color: #f8f9fa; /* Color de fondo suave */
    color: #6c757d; /* Color del texto para contraste suave */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e9ecef; /* Línea superior para separación */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Estilo del párrafo en el footer */
footer p {
    margin: 0;
    font-size: 14px;
}
