/* Estilos generales*/
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Estilos del título */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos del formulario de selección de rango de fechas */
form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"], input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table thead {
    background-color: #28a745; /* Verde para un diseño fresco */
    color: #fff;
}

.table thead th {
    padding: 12px;
    text-align: left;
}

.table tbody tr {
    border-bottom: 1px solid #dee2e6;
}

.table tbody td {
    padding: 12px;
    text-align: left;
}

/* Alternar el color de fondo de las filas para mejorar la legibilidad */
.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Estilo del precio descontado */
.table tbody td:nth-child(5) {
    font-weight: bold;
    color: #28a745; /* Verde para el precio descontado */
}

/* Estilo para los totales */
div > p {
    font-size: 18px;
    margin: 10px 0;
}
