<div class="container">
    <h2>Products</h2>
    <button routerLink="/products/create" class="btn btn-success">Add Product</button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency }}</td>

                <td>
                    <button (click)="editProduct(product.id)" class="btn btn-primary">Edit</button>
                    <button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>